<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	    <link rel="icon" type="image/png" sizes="96x96" href="../static/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Tutori-all</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="../static/css/animate.min.css" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="../static/css/paper-dashboard.css" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project
    <link href="../static/css/demo.css" rel="stylesheet" />-->

    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="../static/css/themify-icons.css" rel="stylesheet">

</head>
<body>

<div class="wrapper">
	<div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/home" class="simple-text">
                    Tutori-all
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="/user">
                        <i class="ti-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li>
                    <a href="/match">
                        <i class="ti-search"></i>
                        <p>Find a Tutor</p>
                    </a>
                </li>
                <li>
                    <a href="/pairings">
                        <i class="ti-view-list-alt"></i>
                        <p>Tutee List</p>
                    </a>
                </li>
                <li>
                    <a href="/sessions">
                        <i class="ti-check-box"></i>
                        <p>Complete a Session</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">


                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-5">
                        <div class="card card-user">
                            <div class="image">
                                <img src="../static/img/background.jpg" alt="..."/>
                            </div>
                            <div class="content">
                                <div class="author">
                                  <img class="avatar border-white" src="../static/img/faces/face-2.jpg" alt="..."/>
                                  <h4 class="title">{{ firstName }} {{ lastName }}<br />
                                     <a href="#"><small>{{ username }}</small></a>
                                  </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Edit Profile</h4>
                            </div>
                            <div class="content">
                                <form>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>First Name</label>

                                                <input type="text" class="form-control border-input" placeholder="First Name" value="{{ firstName }}">

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Last Name</label>

                                                <input type="text" class="form-control border-input" placeholder="Last Name" value="{{ lastName }}">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Preferred Method of Contact</label>
                                                <input type="radio" name="contact" value="phone" id="phone">Phone
                                                <input type="radio" name="contact" value="email" id="email">Email
                                                <input type="radio" name="contact" value="either" id="either" checked>No preference
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Email Address</label>
                                                <input type="text" class="form-control border-input" placeholder="Email Address" id="email" value="{{ username }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Phone Number</label>
                                                <input type="text" class="form-control border-input" placeholder="Phone Number" id="phone" value="{{ phonenumber }}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group" id="class">
                                                <label>Classes You Can Tutor In</label>
                                                <br>
                                                <input type="checkbox" name="class" value="regentsPhysics">Regents Physics
                                                <br>
                                                <input type="checkbox" name="class" value="regentsBiology">Regents Biology
                                                <br>
                                                <input type="checkbox" name="class" value="regentsChemistry">Regents Chemistry
                                                <br>
                                                <input type="checkbox" name="class" value="integratedAlgebra">Integrated Algebra
                                                <br>
                                                <input type="checkbox" name="class" value="euclideanGeometry">Euclidean Geometry
                                                <br>
                                                <input type="checkbox" name="class" value="algebra2Trig">Algebra 2 & Trigonometry
                                                <br>
                                                <input type="checkbox" name="class" value="preCalculus">Pre-Calculus
                                                <br>
                                                <input type="checkbox" name="class" value="regentsWorld12">Regents World History 1-2
                                                <br>
                                                <input type="checkbox" name="class" value="regentsWorld34">Regents World History 3-4
                                                <br>
                                                <input type="checkbox" name="class" value="regentsUS">Regents US History
                                                <br>
                                                <input type="checkbox" name="class" value="apUS">AP US History
                                                <br>
                                                <input type="checkbox" name="class" value="apEuropean">AP European History
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" id="teacher">
                                                <label>Teachers You Had</label>
                                                <br>
                                                <select name="regentsPhysicsTeacher">
                                                    <option value="none">Regents Physics Teacher</option>
                                                    <option value="wang">Wang</option>
                                                    <option value="majewski">Majewski</option>
                                                    <option value="thomas">Thomas</option>
                                                    <option value="akhmedov">Akhmedov</option>
                                                    <option value="sharaf">Sharaf</option>
                                                    <option value="gorla">Gorla</option>
                                                    <option value="strasser">Strasser</option>
                                                </select>
                                                <br>
                                                <select name="regentsBiologyTeacher">
                                                    <option value="none">Regents Biology Teacher</option>
                                                    <option value="horenstein">Horenstein</option>
                                                    <option value="maggio">Maggio</option>
                                                    <option value="tu">Tu</option>
                                                    <option value="papagayo">Papagayo</option>
                                                    <option value="quenzer">Quenzer</option>
                                                    <option value="banfield">Banfield</option>
                                                    <option value="hill">Hill</option>
                                                </select>
                                                <br>
                                                <select name="regentsChemistryTeacher">
                                                    <option value="none">Regents Chemistry Teacher</option>
                                                    <option value="arora">Arora</option>
                                                    <option value="li">Li</option>
                                                    <option value="ting">Ting</option>
                                                    <option value="kivi">Kivi</option>
                                                    <option value="daves">Daves</option>
                                                    <option value="cork">Cork</option>
                                                    <option value="orlando">Orlando</option>
                                                    <option value="omalley">O'Malley</option>
                                                    <option value="pluchino">Pluchino</option>
                                                    <option value="paik">Paik</option>
                                                </select>
                                                <br>
                                                <select name="integratedAlgebraTeacher">
                                                    <option value="none">Integrated Algebra Teacher</option>
                                                    <option value="protass">Protass</option>
                                                    <option value="delatto">Delatto</option>
                                                    <option value="fenyves">Fenyves</option>
                                                </select>
                                                <br>
                                                <select name="euclideanGeometryTeacher">
                                                    <option value="none">Euclidean Geometry</option>
                                                    <option value="fenyves">Fenyves</option>
                                                    <option value="peng">Peng</option>
                                                    <option value="protass">Protass</option>
                                                    <option value="delatto">Delatto</option>
                                                    <option value="avigdor">Avigdor</option>
                                                    <option value="butler">Butler</option>
                                                    <option value="wong">Wong</option>
                                                    <option value="chew">Chew</option>
                                                </select>
                                                <br>
                                                <select name="alebra2TrigTeacher">
                                                    <option value="none">Alebra 2/Trigonometry Teacher</option>
                                                    <option value="kavanagh">Kavanagh</option>
                                                    <option value="goldberg">Goldberg</option>
                                                    <option value="stonescu">Stonescu</option>
                                                    <option value="jumash">Jumash</option>
                                                    <option value="jaye">Jaye</option>
                                                    <option value="butler">Butler</option>
                                                    <option value="protass">Protass</option>
                                                    <option value="sterr">Sterr</option>
                                                    <option value="katz">Katz</option>
                                                </select>
                                                <br>
                                                <select name="preCalculusTeacher">
                                                    <option value="none">Pre-Calculus Teacher</option>
                                                    <option value="wong">Wong</option>
                                                    <option value="maksudian">Maksudian</option>
                                                    <option value="jaishankar">Jaishankar</option>
                                                    <option value="sterr">Sterr</option>
                                                    <option value="stern">Stern</option>
                                                    <option value="rubenstein">Rubenstein</option>
                                                    <option value="chew">Chew</option>
                                                    <option value="ku">Ku</option>
                                                </select>
                                                <br>
                                                <select name="regentsWorld12Teacher">
                                                    <option value="none">Regents World History 1-2 Teacher</option>
                                                    <option value="valentin">Valentin</option>
                                                    <option value="tillman">Tillman</option>
                                                    <option value="garcia">Garcia</option>
                                                    <option value="firdman">Firdman</option>
                                                    <option value="berman">Berman</option>
                                                    <option value="dunkel">Dunkel</option>
                                                    <option value="waxman">Waxman</option>
                                                    <option vlaue="badgeley">Badgeley</option>
                                                </select>
                                                <br>
                                                <select name="regentsWorld34Teacher">
                                                    <option value="none">Regents World Teacher 3-4 Teacher</option>
                                                    <option value="berman">Berman</option>
                                                    <option value="madden">Madden</option>
                                                    <option value="shuman">Shuman</option>
                                                    <option value="plafker">Plafker</option>
                                                    <option value="hanna">Hanna</option>
                                                    <option value="suri">Suri</option>
                                                    <option value="greenwald">Greenwald</option>
                                                </select>
                                                <br>
                                                <select name="regentsUSTeacher">
                                                    <option value="none">Regents US History</option>
                                                    <option value="kennedy">Kennedy</option>
                                                    <option value="brando">Brando</option>
                                                    <option value="valentin">Valentin</option>
                                                    <option value="jezer">Jezer</option>
                                                    <option value="wisotsky">Wisotsky</option>
                                                </select>
                                                <br>
                                                <select name="apUSTeacher">
                                                    <option value="none">AP US History Teacher</option>
                                                    <option value="sandler">Sandler</option>
                                                    <option value="stern">Stern</option>
                                                    <option value="greez">Greez</option>
                                                    <option value="greenwald">Greenwald</option>
                                                    <option value="hanna">Hanna</option>
                                                </select>
                                                <br>
                                                <select name="apEuropeanTeacher">
                                                    <option value="none">AP European History Teacher</option>
                                                    <option value="dunkel">Dunkel</option>
                                                    <option value="hanna">Hanna</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Times You're Free</label>
                                                <br>
                                                <input type="checkbox" name="free" value="1">1st Period
                                                <br>
                                                <input type="checkbox" name="free" value="2">2nd Period
                                                <br>
                                                <input type="checkbox" name="free" value="3">3rd Period
                                                <br>
                                                <input type="checkbox" name="free" value="4">4th Period
                                                <br>
                                                <input type="checkbox" name="free" value="5">5th Period
                                                <br>
                                                <input type="checkbox" name="free" value="6">6th Period
                                                <br>
                                                <input type="checkbox" name="free" value="7">7th Period
                                                <br>
                                                <input type="checkbox" name="free" value="8">8th Period
                                                <br>
                                                <input type="checkbox" name="free" value="9">9th Period
                                                <br>
                                                <input type="checkbox" name="free" value="10">10th Period
                                                <br>
                                                <input type="checkbox" name="free" value="11">Monday (after school)
                                                <br>
                                                <input type="checkbox" name="free" value="12">Tuesday (after school)
                                                <br>
                                                <input type="checkbox" name="free" value="13">Wednesday (after school)
                                                <br>
                                                <input type="checkbox" name="free" value="14">Thursday (after school)
                                                <br>
                                                <input type="checkbox" name="free" value="15">Friday (after school)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-info btn-fill btn-wd">Update Profile</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
				<div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by Panoramic Falcons</a>
                </div>
            </div>
        </footer>

    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="../static/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="../static/js/bootstrap.min.js" type="text/javascript"></script>


	<!--  Charts Plugin -->
	<script src="../static/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="../static/js/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
	<script src="../static/js/paper-dashboard.js"></script>

	<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
	<script src="../static/js/demo.js"></script>

</html>
